<h5><b>Dashboard</b></h5>
<h5>Welcome <b>{{name}}</b> to our Story Book App! Start creating amazing stories that will captivate readers worldwide. 
    Choose to make your stories public and let other users enjoy your imaginative tales. Alternatively, 
    keep your stories private for a more personal experience. Unleash your creativity and embark on an exciting 
    storytelling adventure with us!</h5>

{{#if stories}}
<h5><b>Here are your stories</h5></b></b>
<table class="stripped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span> </td>
            <td><a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
            </td>
        </tr>
        {{/each}} 
    </tbody>
</table>
{{else}}
<h5><b>You have not created any stories</b></h5>
<h5>While you're getting started, feel free to explore our collection of captivating public stories 
for some thrilling adventures through the notification menu on the top right corner of the page or add a new story.</h5>
{{/if}}
